@import "../reaction/utils";

@include mobile {
  #map {
    margin-top: 2%;
    height: 740px;
    zoom: 70%;
    z-index: 0;
  }

  .selected_input {  
    padding: 3%;
    border-radius: 10px;
    background-color: #dbd8d8;
    
    .selected_input_content{
      margin-left: 6%;
    }
    
    input{
        width: 110px;
        height: 19px;
        border-radius: 5px;
        border: 1px solid black;
        margin-left: 2%;
     }

     #jsonFile{
        width: 120px;
        height: 23px;
        border-radius: 5px;
        border: 1px solid black;
        margin-right: 5%;
        margin-left: 2%;
     }

     #json_title{
        font-size: 15px;
    }

    #location_title{
        font-size: 15px;
    }

    #building{
     
    }
  }
  
 .meun_bar{

    margin-top: 3%;
    padding: 3%;
    border-radius: 20px;
    background-color: #dbd8d8;
    display: flex;
    justify-content: center;

    #back-btn {
      width:15%;
      padding: 5%;
      margin-top: 1%;
      border-radius: 30px;
      border:none;
    }

    #modal-btn{
      width:15%;
      padding: 5%;
      margin-top: 1%;
      margin-left: 10%;
      border-radius: 30px;
      border:none;
    }

    #info-btn{
      width:15%;
      padding: 5%;
      margin-top: 1%;
      margin-left: 10%;
      border-radius: 30px;
      border:none;
    }

 }

  #pop-up{
    width: 650px;
    font-size: 15px;
    a{
      font-size: 14px;
      text-decoration: none;
    }
  }

  #streetview-image{
    width: 310px;
    height: 300px;
    border: 1px solid black;
  }

  .modal {
    display: flex;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    z-index: 1000;
  }

  .info-modal{
    display: flex;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    z-index: 1000;

    .info-content{
      text-align: center;

    }
  }
  
  .modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    background-color: #fff;   
  }


 
}
