@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import '../reaction/utils';

$background:#f6f5f7;
$text_color:black;


body{
    background-color: $background;
    min-height: 100vh;
}

#section{
    position: relative;
    min-height: 100vh;
}

.main_title{
    color: $text_color;
    margin-top: 3%;
    font-size: x-large;
}

.map_sample_line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);

}

.map_writing{
    h2{
        font-size: xxx-large;
        @keyframes fadeInRight{
            0%{
                opacity: 0;
                transform: translate3d(100%,0,0);
            }
            to{
                opacity: 1;
                transform: translateZ(0);
            }
        }
    }
    margin-top:-40%;
    margin-left: 590px;
    font-weight: 200;
    animation: fadeInRight 1s;
    
    #h_line_1{
        text-align: center;
    }

    #h_line_2{
        text-align: center;
    }
}

.next_btn{
    margin-left: 62%;
    margin-top:7%;
    button{
        border: none;
        width: 40%;
        padding: 20px;
        border-radius: 30px;
        background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);
        color:white;

    }
}

.map{
    width: 500px;
    height: 500px;
    margin-top: 2%;
    margin-left: 2%;
}

.map_border{
    background-color: white;
    width: 522px;
    height: 520px;
    margin-top: 2%;
    padding-top: 0.5%;
    border-radius: 10px;
}



